
.calculadora {
background-color: rgb(180, 29, 3);
width: 200px;
padding: 10px;
border-radius: 15px;
text-align: center;

}

.calculadora input {
    background-color: rgb(20, 16, 15);
    color: rgb(255, 223, 210);
    padding: 5px;
    border-radius: 5px;
}

#sptotal {
    background-color: darkred;
    color: darksalmon;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.calculadora button {
    background-color: firebrick;
    color: rgb(231, 189, 189);
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}

.calculadora button:hover {
    background-color: rgb(255, 61, 61);
    color: rgb(248, 177, 177);
    cursor: pointer;
}


.calcf {
    display: none;

}

#input-calcf {
    display: none;
}

h5 {
    color: coral;
}

#input-calcf:checked + .calculadora .calcf {
    display: block;
}
